server:
  port: 8090
  context-path: /wh
spring:
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    #本地数据库
    url: jdbc:mysql://localhost:3306/weiguang?useSSL=false&amp;characterEncoding=utf-8&amp;jdbcCompliantTruncation=false&amp;zeroDateTimeBehavior=convertToNull
    username: root
    password: whmtt
    #服务器数据库
    #url: jdbc:mysql://rm-2ze6st2m62b7x4631.mysql.rds.aliyuncs.com:3306/weiguang?useSSL=false&amp;characterEncoding=utf-8&amp;jdbcCompliantTruncation=false&amp;zeroDateTimeBehavior=convertToNull
    #username: wanghuan
    #password: WHolMTT3344
  redis:
    #本地redis
    database: 4
    host: 127.0.0.1
    port: 6379
    password: null
    #服务redis
    #database: 4
    #host: r-2ze54d2c945f4c94.redis.rds.aliyuncs.com
    #port: 6379
    #password: WHolMTT3344
  resources:
    static-locations:
    - classpath:/META-INF/resources/
    - classpath:/resources/
    - classpath:/static/
    - classpath:/public/
    - file:${weiguang.properties.paths-properties.image}
mybatis:
  mapper-locations: classpath:mybatis/mapper/*.xml
  type-aliases-package: com.wh.weiguang.model
logging:
  file: D:/myfile/log/weiguang.log
  level:
    org.springframework.web: DEBUG
    org.springframework.security: DEBUG
    com.wh.weiguang: DEBUG
security:
  oauth2:
    resource:
      filter-order: 99
##自定义配置
weiguang:
  properties:
    sms-code-properties:
      lendth: 5
      expire-in: 60
      url: /authentication/mobile
    paths-properties:
      image: D:/myfile/image
      domain-name: http://www.xxx.com