server:
  port: 8090
  context-path: /wh
spring:
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost:3306/weiguang?useSSL=false&amp;characterEncoding=utf-8&amp;jdbcCompliantTruncation=false&amp;zeroDateTimeBehavior=convertToNull
    username: root
    password: root
  redis:
    database: 4
    host: 127.0.0.1
    port: 6379
    password: null
mybatis:
  mapper-locations: classpath:mybatis/mapper/*.xml
  type-aliases-package: com.wh.weiguang.model

logging:
  level:
    org.springframework.web: DEBUG
    org.springframework.security: DEBUG
    com.wanghuan: DEBUG

security: 
  oauth2: 
    resource:
      filter-order: 99
weiguang:
  properties:
    sms-code-properties:
      lendth: 5
      expire-in: 60
      url: /authentication/mobile
