<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wh.weiguang.dao.AdvertisementDao">
	<resultMap id="advertisementMap" type="com.wh.weiguang.model.me.AdvertisementEntity">
		<id column="id" property="id" />
		<result column="userid" property="userid" />
		<result column="title" property="title" />
		<result column="imageurl" property="imageurl" />
		<result column="area" property="area" />
		<result column="time" property="time" />
		<result column="click_rate" property="clickRate" />
		<result column="scope" property="scope" />
		<result column="lon" property="lon" />
		<result column="lat" property="lat" />
		<result column="geohash" property="geohash" />
	</resultMap>
	<resultMap id="advInfoMap" type="com.wh.weiguang.model.advertise.AdvInfoModel">
		<id column="id" property="id" />
		<result column="userid" property="userid" />
		<result column="title" property="title" />
		<result column="imageurl" property="imageurl" />
		<result column="area" property="area" />
		<result column="time" property="time" />
		<result column="click_rate" property="clickRate" />
		<result column="scope" property="scope" />
		<result column="lon" property="lon" />
		<result column="lat" property="lat" />
		<result column="geohash" property="geohash" />
		<result column="username" property="username" />
		<result column="mobile" property="mobile" />
		<result column="weixinid" property="weixinid" />
		<result column="form" property="form" />
		<result column="money" property="money" />
		<result column="total" property="total" />
		<result column="surplus" property="surplus" />
	</resultMap>
	<resultMap id="myAdvertisementMap"
		type="com.wh.weiguang.model.me.MyAdvertisementEntity">
		<id column="id" property="id" />
		<result column="userid" property="userid" />
		<result column="title" property="title" />
		<result column="imageurl" property="imageurl" />
		<result column="area" property="area" />
		<result column="time" property="time" />
		<result column="click_rate" property="clickRate" />
		<result column="surplus" property="surplus" />
		<association property="commentAmount" column="id"
			select="com.wh.weiguang.dao.AdvertisementCommentDao.getCommentAmountByAdvid" />
	</resultMap>

	<resultMap id="advModelMap" type="com.wh.weiguang.model.me.AdvertisementModel">
		<id column="id" property="id" />
		<result column="userid" property="userid" />
		<result column="title" property="title" />
		<result column="imageurl" property="imageurl" />
		<result column="area" property="area" />
		<result column="time" property="time" />
		<result column="click_rate" property="clickRate" />
		<result column="user_name" property="userName" />
		<result column="headimgurl" property="headimgurl" />
	</resultMap>

	<resultMap id="advDetailModelMap"
		type="com.wh.weiguang.model.advertise.AdvDetailModel">
		<id column="id" property="id" />
		<result column="money" property="money" />
		<result column="total" property="total" />
		<result column="surplus" property="surplus" />
		<result column="correct_keywords" property="correctKeywords" />
		<result column="error_keywords" property="errorKeywords" />
		<result column="time" property="time" />
		<result column="advid" property="advid" />
		<result column="click_rate" property="clickRate" />
		<result column="scope" property="scope" />
		<result column="area" property="area" />
		<result column="lon" property="lon" />
		<result column="lat" property="lat" />
		<association property="commentAmount" column="advid"
			select="com.wh.weiguang.dao.AdvertisementCommentDao.getCommentAmountByAdvid" />
	</resultMap>

	<insert id="insertAdv" parameterType="AdvertisementEntity">
		<selectKey keyProperty="id" resultType="java.lang.Integer"
			order="AFTER">
			select LAST_INSERT_ID()
		</selectKey>
		insert into advertisement
		(userid,title,imageurl,area,time,click_rate,scope,lon,lat,geohash)
		values
		(#{userid},#{title},#{imageurl},#{area},#{time},null,#{scope},#{lon},#{lat},#{geohash})
	</insert>

	<insert id="insertAdvContent" parameterType="AdvertisementContentEntity">
		insert into
		advertisement_content (advid,form,url,title,content,time) values
		(#{advid},#{form},#{url},#{title},#{content},#{time})
	</insert>

	<insert id="insertAdvDetail" parameterType="AdvertisementDetailEntity">
		insert into
		advertisement_detail
		(money,total,correct_keywords,error_keywords,time,advid) values
		(#{money},#{total},#{correctKeywords},#{errorKeywords},#{time},#{advid})
	</insert>

	<select id="getMyAdvertisementEntity" resultMap="myAdvertisementMap">
		select a.*,b.surplus as surplus from advertisement a left join
		advertisement_detail b on a.id = b.advid
		<where>
			a.userid = #{userid}
		</where>
		order by a.time desc
		limit
		#{pageEntity.pageStart},#{pageEntity.pageSize}
	</select>

	<select id="getAdvModelByid" resultMap="advModelMap">
		select a.name
		user_name,a.headimgurl,b.*
		from sys_user a left join
		advertisement b on a.id = b.userid
		<where>
			a.id = #{id}
		</where>
		order by b.time desc
	</select>

	<select id="getAllAdv" resultMap="advModelMap">
		select a.*,b.name
		user_name,b.headimgurl from (
		select * from advertisement where `scope`
		= 0
		union all
		select * from advertisement where `scope` = 1 and area =
		#{area}
		union all
		select * from advertisement where `scope` = 2 and
		geohash =
		left(#{geohash},5)
		union all
		select * from advertisement where
		`scope` = 3 and geohash =
		left(#{geohash},4)
		) a left join sys_user b on
		a.userid = b.id
		order by
		a.time desc
		limit
		#{pageEntity.pageStart},#{pageEntity.pageSize}
	</select>

	<select id="getAdvContent" resultType="AdvContentModel">
		select a.*,b.total from
		advertisement_content a
		left join
		advertisement_detail b on a.advid = b.advid
		<where>
			a.advid = #{advid}
		</where>
	</select>

	<update id="addClickRate">
		update advertisement set click_rate = click_rate+1
		<where>
			id = #{id}
		</where>
	</update>

	<select id="getAdvDetail" resultMap="advDetailModelMap">
		select a.*,b.click_rate,b.scope,b.area,b.lon,b.lat
		from
		advertisement_detail a
		left join advertisement b on a.advid = b.id
		<where>
			a.advid = #{advid}
		</where>
	</select>
	
	<select id="getCount1" resultType="Integer">
		select count(1) from advertisement
	</select>
	<select id="getAdvs1" resultMap="advInfoMap">
		select a.*,b.name username ,b.mobile mobile ,b.weixin_id weixinid ,c.form form , d.money money ,d.total total ,d.surplus surplus
		from advertisement a left join sys_user b on a.userid = b.id
		        left join advertisement_content c on a.id = c.advid
		        left join advertisement_detail d on a.id = d.advid
		<![CDATA[ order by a.time desc ]]>
		<if test="pageSize != null and start != null ">
			limit #{start},#{pageSize}
		</if>
	</select>
	<select id="getAdvsSize1" resultType="Integer">
		select count(1) from advertisement
	</select>
	
	<select id="getCount2" resultType="Integer">
		select count(1) from advertisement
		<where> 
			`time` &gt; #{timeStart} and `time` &lt; #{timeEnd}
		</where>
	</select>
	<select id="getAdvs2" resultMap="advInfoMap">
		select a.*,b.name username ,b.mobile mobile ,b.weixin_id weixinid ,c.form form , d.money money ,d.total total ,d.surplus surplus
		from advertisement a left join sys_user b on a.userid = b.id
		        left join advertisement_content c on a.id = c.advid
		        left join advertisement_detail d on a.id = d.advid
		<where> 
			a.`time` &gt; #{timeStart} and a.`time` &lt; #{timeEnd}
		</where>
		<![CDATA[ order by a.time desc ]]>
		<if test="pageSize != null and start != null ">
			limit #{start},#{pageSize}
		</if>
	</select>
	<select id="getAdvsSize2" resultType="Integer">
		select count(1) from advertisement
		<where> 
			`time` &gt; #{timeStart} and `time` &lt; #{timeEnd}
		</where>
	</select>
	
	<select id="getCount3" resultType="Integer">
		select count(1) from advertisement
		<where> 
			`time` &gt; #{timeStart} and `time` &lt; #{timeEnd}
		</where>
	</select>
	<select id="getAdvs3" resultMap="advInfoMap">
		select a.*,b.name username ,b.mobile mobile ,b.weixin_id weixinid ,c.form form , d.money money ,d.total total ,d.surplus surplus
		from advertisement a left join sys_user b on a.userid = b.id
		        left join advertisement_content c on a.id = c.advid
		        left join advertisement_detail d on a.id = d.advid
		<where> 
			a.`time` &gt; #{timeStart} and a.`time` &lt; #{timeEnd}
		</where>
		<![CDATA[ order by a.time desc ]]>
		<if test="pageSize != null and start != null ">
			limit #{start},#{pageSize}
		</if>
	</select>
	<select id="getAdvsSize3" resultType="Integer">
		select count(1) from advertisement
		<where> 
			`time` &gt; #{timeStart} and `time` &lt; #{timeEnd}
		</where>
	</select>

</mapper>