<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wh.weiguang.dao.AdvertisementDao">
	<resultMap id="advertisementMap" type="com.wh.weiguang.model.me.AdvertisementEntity">
		<id column="id" property="id" />
		<result column="userid" property="userid" />
		<result column="title" property="title" />
		<result column="imageurl" property="imageurl" />
		<result column="area" property="area" />
		<result column="time" property="time" />
		<result column="click_rate" property="clickRate" />
		<result column="scope" property="scope" />
		<result column="lon" property="lon" />
		<result column="lat" property="lat" />
		<result column="geohash" property="geohash" />
	</resultMap>
	<resultMap id="myAdvertisementMap"
		type="com.wh.weiguang.model.me.MyAdvertisementEntity">
		<id column="id" property="id" />
		<result column="userid" property="userid" />
		<result column="title" property="title" />
		<result column="imageurl" property="imageurl" />
		<result column="area" property="area" />
		<result column="time" property="time" />
		<result column="click_rate" property="clickRate" />
		<result column="surplus" property="surplus" />
		<association property="commentAmount" column="id"
			select="com.wh.weiguang.dao.AdvertisementCommentDao.getCommentAmountByDevid" />
	</resultMap>
	
	<resultMap id="advModelMap" type="com.wh.weiguang.model.me.AdvertisementModel">
		<id column="id" property="id" />
		<result column="userid" property="userid" />
		<result column="title" property="title" />
		<result column="imageurl" property="imageurl" />
		<result column="area" property="area" />
		<result column="time" property="time" />
		<result column="click_rate" property="clickRate" />
		<result column="user_name" property="userName" />
		<result column="headimgurl" property="headimgurl" />
	</resultMap>

	<insert id="insertAdv" parameterType="AdvertisementEntity">
		<selectKey keyProperty="id" resultType="java.lang.Integer"
			order="AFTER">
			select LAST_INSERT_ID()
		</selectKey>
		insert into advertisement (userid,title,imageurl,area,time,click_rate,scope,lon,lat,geohash) values
		(#{userid},#{title},#{imageurl},#{area},#{time},null,#{scope},#{lon},#{lat},#{geohash})
	</insert>
	
	<insert id="insertAdvContent" parameterType="AdvertisementContentEntity">
		insert into advertisement_content (advid,form,url,title,content,time) values
		(#{advid},#{form},#{url},#{title},#{content},#{time})
	</insert>
	
	<insert id="insertAdvDetail" parameterType="AdvertisementDetailEntity">
		insert into advertisement_detail (money,total,correct_keywords,error_keywords,time,advid) values
		(#{money},#{total},#{correctKeywords},#{errorKeywords},#{time},#{advid})
	</insert>

	<select id="getMyAdvertisementEntity" resultMap="myAdvertisementMap">
		select a.*,b.surplus as surplus from advertisement a left join
		advertisement_detail b on a.id = b.advid
		<where>
			a.userid = #{userid}
		</where>
	</select>

	<select id="getAdvModelByid" resultMap="advModelMap">
		select a.name
		user_name,a.headimgurl,b.*
		from sys_user a left join advertisement b on a.id = b.userid
		<where>
			a.id = #{id}
		</where>
		order by b.time desc
	</select>

</mapper>