<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wh.weiguang.dao.AdvertisementDao">
	<resultMap id="menuMap" type="com.wh.weiguang.model.me.AdvertisementEntity">
		<id column="id" property="id" />
		<result column="title" property="title" />
		<result column="imageurl" property="imageurl" />
		<result column="area" property="area" />
		<result column="time" property="time" />
		<result column="click_rate" property="clickRate" />
	</resultMap>

	
</mapper>