<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wh.weiguang.dao.TradingFlowDao">
	<resultMap id="tradingFlowMap" type="com.wh.weiguang.model.me.TradingFlowEntity">
		<id column="id" property="id" />
		<result column="userid" property="userid" />
		<result column="amount" property="amount" />
		<result column="sign" property="sign" />
		<result column="time" property="time" />
		<result column="describe" property="describe" />
	</resultMap>

	<!-- 获取user列表的总量 -->
	<select id="getListByUserid" resultMap="tradingFlowMap">  
	    <![CDATA[select * from trading_flow]]>
		<where>
			<if test="userid != null and userid != ''">
				userid = #{userid}
			</if>
		</where>
		order by `time` desc
		limit
		#{pageEntity.pageStart},#{pageEntity.pageSize}
	</select>

	<insert id="insert" parameterType="TradingFlowEntity">
		insert into trading_flow
		(userid,amount,sign,time,`describe`)
		values
		(#{userid},#{amount},#{sign},#{time},#{describe})
	</insert>

</mapper>