<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wh.weiguang.dao.TransferDao">
	<resultMap id="rechargeMap" type="com.wh.weiguang.model.me.TransferRecordEntity">
		<id column="id" property="id" />
		<result column="order_number" property="orderNumber" />
		<result column="userid" property="userid" />
		<result column="amount" property="amount" />
		<result column="succ" property="succ" />
		<result column="time" property="time" />	
	</resultMap>
	
	<select id="getCount1" resultType="Double">
		select sum(amount) from transfer_record
		<where>
			succ = 1
		</where>
	</select>
	
	<select id="getCount2" resultType="Double">
		select sum(amount) from transfer_record
		<where> 
			succ = 1 and `time` &gt; #{timeStart} and `time` &lt; #{timeEnd}
		</where>
	</select>
	
	<select id="getCount3" resultType="Double">
		select sum(amount) from transfer_record
		<where> 
			succ = 1 and `time` &gt; #{timeStart} and `time` &lt; #{timeEnd}
		</where>
	</select>
	
</mapper>