<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wh.weiguang.dao.UserLevelDao">
	<resultMap id="levelMap" type="com.wh.weiguang.model.me.UserLevelEntity">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="userid" property="userid" />
		<result column="condition" property="condition" />
		<result column="vtimes" property="vtimes" />
	</resultMap>

	<select id="userLevelAll" resultMap="levelMap">
		select * from user_level 
	</select>

</mapper>