<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wh.weiguang.dao.UserDetailDao">
	<resultMap id="userMap" type="com.wh.weiguang.model.sys.UserDetailEntity">
		<id column="id" property="id" />
		<result column="userid" property="userid" />
		<result column="level" property="level" />
		<result column="today_vtimes" property="todayVtimes" />
		<result column="extra_vtimes" property="extraVtimes" />
		<result column="invitation_number" property="invitationNumber" />
	</resultMap>

	<insert id="insert" >
		insert into sys_user_detail (userid) values
		(#{userDetailEntity.userid})
	</insert>

	<select id="getUserDetailByUserid" resultMap="userMap">
		select * from sys_user_detail
		<where>
			userid = #{userid}
		</where>
	</select>
	
	<update id="reduceTodayVtimes">
		update sys_user_detail set today_vtimes = today_vtimes - 1
		<where>
			userid = #{userid}
		</where>
	</update>
	
	<update id="reduceExtraVtimes">
		update sys_user_detail set extra_vtimes = extra_vtimes - 1
		<where>
			userid = #{userid}
		</where>
	</update>

</mapper>