<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wh.weiguang.dao.UserDetailDao">
	<resultMap id="userMap" type="com.wh.weiguang.model.sys.UserDetailEntity">
		<id column="id" property="id" />
		<result column="userid" property="userid" />
		<result column="level" property="level" />
		<result column="today_vtimes" property="todayVtimes" />
		<result column="extra_vtimes" property="extraVtimes" />
		<result column="invitation_number" property="invitationNumber" />
		<result column="customer_type" property="customerType" />
	</resultMap>

	<insert id="insert">
		insert into sys_user_detail (userid,customer_type) values
		(#{userDetailEntity.userid},#{userDetailEntity.customerType})
	</insert>

	<select id="getUserDetailByUserid" resultMap="userMap">
		select * from sys_user_detail
		<where>
			userid = #{userid}
		</where>
	</select>

	<update id="reduceTodayVtimes">
		update sys_user_detail set today_vtimes = today_vtimes - 1
		<where>
			userid = #{userid}
		</where>
	</update>

	<update id="reduceExtraVtimes">
		update sys_user_detail set extra_vtimes = extra_vtimes - 1
		<where>
			userid = #{userid}
		</where>
	</update>

	<update id="update" parameterType="UserDetailEntity">
		update sys_user_detail
		set level = #{level},extra_vtimes =
		#{extraVtimes},invitation_number = #{invitationNumber}
		<where>
			id = #{id}
		</where>
	</update>
	
	<delete id="deleteByUserid">
		delete from sys_user_detail
		<where>
			<if test="groupId !=null">
				userid in
				<foreach collection="groupId" item="item" index="index"
					open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
		</where>
	</delete>

	<update id="changeCustomerType">
		update sys_user_detail
		set customer_type = #{type}
		<where>
			userid = #{userid}
		</where>
	</update>

</mapper>