<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wh.weiguang.dao.UserDao">
	<resultMap id="userMap" type="com.wh.weiguang.model.sys.UserEntity">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="password" property="password" />
		<result column="email" property="email" />
		<result column="headimgurl" property="headimgurl" />
		<result column="weixin_id" property="weixinId" />
		<result column="mobile" property="mobile" />
		<result column="money" property="money" />
		<result column="invite_code" property="inviteCode" />
		<result column="create_time" property="createTime" />
	</resultMap>

	<resultMap id="userInfoMap" type="com.wh.weiguang.model.sys.UserInfoModel">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="password" property="password" />
		<result column="email" property="email" />
		<result column="headimgurl" property="headimgurl" />
		<result column="weixin_id" property="weixinId" />
		<result column="mobile" property="mobile" />
		<result column="money" property="money" />
		<result column="invite_code" property="inviteCode" />
		<result column="create_time" property="createTime" />
		<result column="level" property="level" />
		<association property="userDetailEntity" javaType="UserDetailEntity">
			<id column="d_id" property="id" />
			<result column="d_userid" property="userid" />
			<result column="d_level" property="level" />
			<result column="d_today_vtimes" property="todayVtimes" />
			<result column="d_extra_vtimes" property="extraVtimes" />
			<result column="d_invitation_number" property="invitationNumber" />
			<result column="d_customer_type" property="customerType" />
		</association>
	</resultMap>

	<resultMap id="detailViewMap" type="com.wh.weiguang.model.sys.UserDetailModel">
		<id column="id" property="id" />
		<result column="user_name" property="userName" />
		<result column="headimgurl" property="headimgurl" />
		<result column="level" property="level" />
		<collection property="advertisementModels" column="id"
			select="com.wh.weiguang.dao.AdvertisementDao.getAdvModelByid" />
	</resultMap>

	<update id="untie">
		update sys_user set weixin_id = "",mobile = ""
		<where>
			id = #{id}
		</where>
	</update>

	<update id="updateUserWeixin">
		update sys_user set weixin_id = #{openid}
		<where>
			id = #{id}
		</where>
	</update>

	<update id="updateUserMobile">
		update sys_user set mobile = #{mobile}
		<where>
			id = #{id}
		</where>
	</update>

	<select id="getIdByInvitecode" resultType="Integer">
		select id from
		sys_user
		<where>
			invite_code = #{inviteCode}
		</where>
	</select>

	<update id="recharge">
		update sys_user set money = money+${money}
		<where>
			id = #{id}
		</where>
	</update>

	<update id="consume">
		update sys_user set money = money-${money}
		<where>
			id = #{id}
		</where>
	</update>

	<select id="getCurrentMoney" resultType="Double">
		select money from sys_user
		<where>
			id = #{id}
		</where>
	</select>

	<select id="getDetailView" resultMap="detailViewMap">
		select a.id,a.name user_name,a.headimgurl,c.name level from sys_user a
		left join sys_user_detail b on a.id = b.userid
		left join user_level c
		on b.level = c.sort
		<where>
			a.id = #{id}
		</where>
	</select>

	<select id="getDetByNameOrMobile" resultMap="detailViewMap">
		select a.id,a.name user_name,a.headimgurl,c.name level from sys_user a
		left join sys_user_detail b on a.id = b.userid
		left join user_level c
		on b.level = c.id
		<where>
			<if test="name != null and name != ''">a.name = #{name}</if>
			<if test="mobile != null and mobile != ''">and a.mobile = #{mobile}</if>
		</where>
	</select>

	<select id="getUserExtraVtimes" resultType="Integer">
		select extra_vtimes from sys_user_detail
		<where>
			userid = #{userid}
		</where>
	</select>

	<select id="getUserInfoById" resultMap="userInfoMap">
		select a.*,c.name level,b.id d_id,b.userid d_userid,b.level d_level,b.today_vtimes
		d_today_vtimes,b.extra_vtimes d_extra_vtimes, b.invitation_number
		d_invitation_number,b.customer_type d_customer_type
		from sys_user a left join sys_user_detail b on a.id
		= userid
		left join user_level c
		on b.level = c.sort
		<where>
			a.id = #{id}
		</where>
	</select>

	<select id="getUserByWeixinId" resultMap="userMap">
		select * from sys_user
		<where>
			weixin_id = #{openid}
		</where>
	</select>

	<select id="getUserEntityByMobile" resultMap="userMap">
		select * from sys_user
		<where>
			mobile = #{mobile}
		</where>
	</select>

	<insert id="insert" parameterType="com.wh.weiguang.model.sys.UserEntity">
		<selectKey keyProperty="id" resultType="java.lang.Integer"
			order="AFTER">
			select LAST_INSERT_ID()
		</selectKey>
		insert into sys_user (mobile,invite_code,create_time) values
		(#{mobile},#{inviteCode},#{createTime})
	</insert>

	<!-- 新建用户信息 -->
	<insert id="insertUser" parameterType="com.wh.weiguang.model.sys.UserEntity">
		<selectKey keyProperty="id" resultType="java.lang.Integer"
			order="AFTER">
			select LAST_INSERT_ID()
		</selectKey>
		insert into sys_user (name,password,mobile,invite_code,create_time)
		values
		(#{name},#{password},#{mobile},#{inviteCode},#{createTime})
	</insert>

	<insert id="insertByWeixin" parameterType="com.wh.weiguang.model.sys.UserEntity">
		<selectKey keyProperty="id" resultType="java.lang.Integer"
			order="AFTER">
			select LAST_INSERT_ID()
		</selectKey>
		insert into sys_user (weixin_id,invite_code,create_time) values
		(#{weixinId},#{inviteCode},#{createTime})
	</insert>

	<update id="update">
		update sys_user set
		<if test="headimgurl != null and headimgurl != ''">
			headimgurl = #{headimgurl}
		</if>
		<if
			test="headimgurl != null and headimgurl != '' and name != null and name != ''">
			,
		</if>
		<if test="name != null and name != ''">
			name = #{name}
		</if>
		<where>
			id = #{id}
		</where>
	</update>

	<select id="getUserEntityById" resultMap="userMap">
		select * from sys_user
		<where>
			id = #{id}
		</where>
	</select>

	<!-- 下面的都是未修改的 -->
	<!-- 获取user列表 -->
	<select id="usersList" resultMap="userInfoMap">
		select a.*,c.name level,b.id d_id,b.userid d_userid,b.level d_level,b.today_vtimes
			d_today_vtimes,b.extra_vtimes d_extra_vtimes, b.invitation_number
			d_invitation_number,b.customer_type d_customer_type
			from sys_user a left join sys_user_detail b on a.id = userid
			left join user_level c on b.level = c.sort
		<where>
			<if test="loginName != null and loginName != ''">
				a.name = #{loginName}
			</if>
		</where>
	    <![CDATA[ order by a.id desc ]]>
		<if test="pageSize != null and start != null ">
			limit #{start},#{pageSize}
		</if>
	</select>
	<!-- 获取user列表的总量 -->
	<select id="usersSize" resultType="Integer">  
	    <![CDATA[select count(*) from sys_user]]>
		<where>
			<if test="loginName != null and loginName != ''">
				name = #{loginName}
			</if>
		</where>
	</select>

	<select id="adminusersList" resultMap="userMap">
		select a.* from sys_user a
		left join sys_user_detail b on a.id =
		b.userid
		<where>
			b.customer_type = 3
			<if test="loginName != null and loginName != ''">
				and a.name = #{loginName}
			</if>
		</where>
	    <![CDATA[ order by id desc ]]>
		<if test="pageSize != null and start != null ">
			limit #{start},#{pageSize}
		</if>
	</select>
	<!-- 获取user列表的总量 -->
	<select id="adminusersSize" resultType="Integer">
		select count(*) from sys_user a
		left join sys_user_detail b on a.id =
		b.userid
		<where>
			b.customer_type = 3
			<if test="loginName != null and loginName != ''">
				and a.name = #{loginName}
			</if>
		</where>
	</select>

	<delete id="del">
		delete from sys_user
		<where>
			<if test="userEntity.id != null and userEntity.id != ''">id = #{userEntity.id}</if>
			<if test="userEntity.name != null and userEntity.name != ''">and name = #{userEntity.name}</if>
			<if test="userEntity.sex != null and userEntity.sex != ''">and sex = #{userEntity.sex }</if>
			<if test="userEntity.age != null and userEntity.age != ''">and age = #{userEntity.age}</if>
		</where>
	</delete>

	<select id="select">
		select * from sys_user
		<where>
			<if test="id != null">id = #{id}</if>
			<if test="name != null">and name = #{name}</if>
			<if test="sex != null">and sex = #{sex}</if>
			<if test="age != null">and age = #{age}</if>
		</where>
	</select>
	<select id="getUserEntityByLoginName" resultMap="userMap">
		select * from sys_user
		<where>
			name = #{loginName}
		</where>
	</select>

	<!-- 更新用户信息 -->
	<update id="updateUser">
		update sys_user set
		name = #{userEntity.name},
		login_name =
		#{userEntity.loginName},
		password = #{userEntity.password},
		email =
		#{userEntity.email}
		<where>
			id = #{userEntity.id}
		</where>
	</update>
	<!-- 删除用户信息 -->
	<delete id="deleteUsers">
		delete from sys_user
		<where>
			<if test="groupId !=null">
				id in
				<foreach collection="groupId" item="item" index="index"
					open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
		</where>
	</delete>

	<select id="getCount1" resultType="Integer">
		select count(1) from sys_user
	</select>
	<select id="getUserInfo1" resultMap="userInfoMap">
		select a.*,c.name level,b.id d_id,b.userid d_userid,b.level d_level,b.today_vtimes
		d_today_vtimes,b.extra_vtimes d_extra_vtimes, b.invitation_number
		d_invitation_number,b.customer_type d_customer_type
		from sys_user a left join sys_user_detail b on a.id = userid
		left join user_level c on b.level = c.sort
		<![CDATA[ order by a.id desc ]]>
		<if test="pageSize != null and start != null ">
			limit #{start},#{pageSize}
		</if>
	</select>
	<select id="getInfoSize1" resultType="Integer">  
	    <![CDATA[select count(*) from sys_user]]>
	</select>

	<select id="getCount2" resultType="Integer">
		select count(1) from sys_user
		<where>
			create_time &gt; #{timeStart} and create_time &lt; #{timeEnd}
		</where>
	</select>
	<select id="getUserInfo2" resultMap="userInfoMap">
		select a.*,c.name level,b.id d_id,b.userid d_userid,b.level d_level,b.today_vtimes
		d_today_vtimes,b.extra_vtimes d_extra_vtimes, b.invitation_number
		d_invitation_number,b.customer_type d_customer_type
		from sys_user a left join sys_user_detail b on a.id = userid
		left join user_level c on b.level = c.sort
		<where>
			a.create_time &gt; #{timeStart} and a.create_time &lt; #{timeEnd}
		</where>
		<![CDATA[ order by a.id desc ]]>
		<if test="pageSize != null and start != null ">
			limit #{start},#{pageSize}
		</if>
	</select>
	<select id="getInfoSize2" resultType="Integer">  
	    select count(1) from sys_user
		<where>
			create_time &gt; #{timeStart} and create_time &lt; #{timeEnd}
		</where>
	</select>

	<select id="getCount3" resultType="Integer">
		select count(1) from sys_user
		<where>
			create_time &gt; #{timeStart} and create_time &lt; #{timeEnd}
		</where>
	</select>
	<select id="getUserInfo3" resultMap="userInfoMap">
		select a.*,c.name level,b.id d_id,b.userid d_userid,b.level d_level,b.today_vtimes
		d_today_vtimes,b.extra_vtimes d_extra_vtimes, b.invitation_number
		d_invitation_number,b.customer_type d_customer_type
		from sys_user a left join sys_user_detail b on a.id = userid
		left join user_level c on b.level = c.sort
		<where>
			a.create_time &gt; #{timeStart} and a.create_time &lt; #{timeEnd}
		</where>
		<![CDATA[ order by a.id desc ]]>
		<if test="pageSize != null and start != null ">
			limit #{start},#{pageSize}
		</if>
	</select>
	<select id="getInfoSize3" resultType="Integer">  
	    select count(1) from sys_user
		<where>
			create_time &gt; #{timeStart} and create_time &lt; #{timeEnd}
		</where>
	</select>

	<select id="getCount4" resultType="Integer">
		select count(distinct userid) from trading_flow
		<where>
			`time` &gt; #{timeStart} and `time` &lt; #{timeEnd}
		</where>
	</select>
	<select id="getUserInfo4" resultMap="userInfoMap">
		select a.*,c.name level,b.id d_id,b.userid d_userid,b.level d_level,b.today_vtimes
		d_today_vtimes,b.extra_vtimes d_extra_vtimes, b.invitation_number
		d_invitation_number,b.customer_type d_customer_type
		from sys_user a left join sys_user_detail b on a.id = userid
		left join user_level c on b.level = c.sort
		<where>
			a.id in
			(
				select distinct userid from trading_flow
				<where>
					`time` &gt; #{timeStart} and `time` &lt; #{timeEnd}
				</where>
			)
			
		</where>
		<![CDATA[ order by a.id desc ]]>
		<if test="pageSize != null and start != null ">
			limit #{start},#{pageSize}
		</if>
	</select>
	<select id="getInfoSize4" resultType="Integer">  
	    select count(distinct userid) from trading_flow
		<where>
			`time` &gt; #{timeStart} and `time` &lt; #{timeEnd}
		</where>
	</select>

	<select id="getCount5" resultType="Integer">
		select count(distinct userid) from trading_flow
		<where>
			`time` &gt; #{timeStart} and `time` &lt; #{timeEnd}
		</where>
	</select>
	<select id="getUserInfo5" resultMap="userInfoMap">
		select a.*,c.name level,b.id d_id,b.userid d_userid,b.level d_level,b.today_vtimes
		d_today_vtimes,b.extra_vtimes d_extra_vtimes, b.invitation_number
		d_invitation_number,b.customer_type d_customer_type
		from sys_user a left join sys_user_detail b on a.id = userid
		left join user_level c on b.level = c.sort
		<where>
			a.id in
			(
				select distinct userid from trading_flow
				<where>
					`time` &gt; #{timeStart} and `time` &lt; #{timeEnd}
				</where>
			)
			
		</where>
		<![CDATA[ order by a.id desc ]]>
		<if test="pageSize != null and start != null ">
			limit #{start},#{pageSize}
		</if>
	</select>
	<select id="getInfoSize5" resultType="Integer">  
	    select count(distinct userid) from trading_flow
		<where>
			`time` &gt; #{timeStart} and `time` &lt; #{timeEnd}
		</where>
	</select>

	<update id="changeCreateTime">
		update sys_user
		set create_time = #{createTime}
		<where>
			id = #{id}
		</where>
	</update>

	<select id="getCount6" resultType="Integer">
		select count(1) from sys_user a left join sys_user_detail b on a.id =
		b.userid
		<where>
			b.customer_type = 2
		</where>
	</select>
	<select id="getPublishers1" resultMap="userInfoMap">
		select a.*,c.name level,b.id d_id,b.userid d_userid,b.level d_level,b.today_vtimes
		d_today_vtimes,b.extra_vtimes d_extra_vtimes, b.invitation_number
		d_invitation_number,b.customer_type d_customer_type
		from sys_user a left join sys_user_detail b on a.id = userid
		left join user_level c on b.level = c.sort
		<where>
			b.customer_type = 2
		</where>
		<![CDATA[ order by a.id desc ]]>
		<if test="pageSize != null and start != null ">
			limit #{start},#{pageSize}
		</if>
	</select>
	<select id="getPublishersSize1" resultType="Integer">  
	    select count(1) from sys_user a left join sys_user_detail b on a.id =
		b.userid
		<where>
			b.customer_type = 2
		</where>
	</select>

	<select id="getCount7" resultType="Integer">
		select count(1) from sys_user a left join sys_user_detail b on a.id =
		b.userid
		<where>
			b.customer_type = 2 and a.create_time &gt; #{timeStart} and
			a.create_time &lt; #{timeEnd}
		</where>
	</select>
	<select id="getPublishers2" resultMap="userInfoMap">
		select a.*,c.name level,b.id d_id,b.userid d_userid,b.level d_level,b.today_vtimes
		d_today_vtimes,b.extra_vtimes d_extra_vtimes, b.invitation_number
		d_invitation_number,b.customer_type d_customer_type
		from sys_user a left join sys_user_detail b on a.id = userid
		left join user_level c on b.level = c.sort
		<where>
			b.customer_type = 2 and a.create_time &gt; #{timeStart} and
			a.create_time &lt; #{timeEnd}
		</where>
		<![CDATA[ order by a.id desc ]]>
		<if test="pageSize != null and start != null ">
			limit #{start},#{pageSize}
		</if>
	</select>
	<select id="getPublishersSize2" resultType="Integer">  
	    select count(1) from sys_user a left join sys_user_detail b on a.id =
		b.userid
		<where>
			b.customer_type = 2 and a.create_time &gt; #{timeStart} and
			a.create_time &lt; #{timeEnd}
		</where>
	</select>

	<select id="getCount8" resultType="Integer">
		select count(1) from sys_user a left join sys_user_detail b on a.id =
		b.userid
		<where>
			b.customer_type = 2 and a.create_time &gt; #{timeStart} and
			a.create_time &lt; #{timeEnd}
		</where>
	</select>
	<select id="getPublishers3" resultMap="userInfoMap">
		select a.*,c.name level,b.id d_id,b.userid d_userid,b.level d_level,b.today_vtimes
		d_today_vtimes,b.extra_vtimes d_extra_vtimes, b.invitation_number
		d_invitation_number,b.customer_type d_customer_type
		from sys_user a left join sys_user_detail b on a.id = userid
		left join user_level c on b.level = c.sort
		<where>
			b.customer_type = 2 and a.create_time &gt; #{timeStart} and
			a.create_time &lt; #{timeEnd}
		</where>
		<![CDATA[ order by a.id desc ]]>
		<if test="pageSize != null and start != null ">
			limit #{start},#{pageSize}
		</if>
	</select>
	<select id="getPublishersSize3" resultType="Integer">  
	    select count(1) from sys_user a left join sys_user_detail b on a.id =
		b.userid
		<where>
			b.customer_type = 2 and a.create_time &gt; #{timeStart} and
			a.create_time &lt; #{timeEnd}
		</where>
	</select>

	<select id="getCount9" resultType="Integer">
		select count(1) from sys_user a left join sys_user_detail b on a.id =
		b.userid
		<where>
			b.customer_type = 0
		</where>
	</select>
	<select id="getOrdiUsers1" resultMap="userInfoMap">
		select a.*,c.name level,b.id d_id,b.userid d_userid,b.level d_level,b.today_vtimes
		d_today_vtimes,b.extra_vtimes d_extra_vtimes, b.invitation_number
		d_invitation_number,b.customer_type d_customer_type
		from sys_user a left join sys_user_detail b on a.id = userid
		left join user_level c on b.level = c.sort
		<where>
			b.customer_type = 0
		</where>
		<![CDATA[ order by a.id desc ]]>
		<if test="pageSize != null and start != null ">
			limit #{start},#{pageSize}
		</if>
	</select>
	<select id="getOrdiUsersSize1" resultType="Integer">  
	    select count(1) from sys_user a left join sys_user_detail b on a.id =
		b.userid
		<where>
			b.customer_type = 0
		</where>
	</select>

	<select id="getCount10" resultType="Integer">
		select count(1) from sys_user a left join sys_user_detail b on a.id =
		b.userid
		<where>
			b.customer_type = 0 and a.create_time &gt; #{timeStart} and
			a.create_time &lt; #{timeEnd}
		</where>
	</select>
	<select id="getOrdiUsers2" resultMap="userInfoMap">
		select a.*,c.name level,b.id d_id,b.userid d_userid,b.level d_level,b.today_vtimes
		d_today_vtimes,b.extra_vtimes d_extra_vtimes, b.invitation_number
		d_invitation_number,b.customer_type d_customer_type
		from sys_user a left join sys_user_detail b on a.id = userid
		left join user_level c on b.level = c.sort
		<where>
			b.customer_type = 0 and a.create_time &gt; #{timeStart} and
			a.create_time &lt; #{timeEnd}
		</where>
		<![CDATA[ order by a.id desc ]]>
		<if test="pageSize != null and start != null ">
			limit #{start},#{pageSize}
		</if>
	</select>
	<select id="getOrdiUsersSize2" resultType="Integer">  
	    select count(1) from sys_user a left join sys_user_detail b on a.id =
		b.userid
		<where>
			b.customer_type = 0 and a.create_time &gt; #{timeStart} and
			a.create_time &lt; #{timeEnd}
		</where>
	</select>

	<select id="getCount11" resultType="Integer">
		select count(1) from sys_user a left join sys_user_detail b on a.id =
		b.userid
		<where>
			b.customer_type = 0 and a.create_time &gt; #{timeStart} and
			a.create_time &lt; #{timeEnd}
		</where>
	</select>
	<select id="getOrdiUsers3" resultMap="userInfoMap">
		select a.*,c.name level,b.id d_id,b.userid d_userid,b.level d_level,b.today_vtimes
		d_today_vtimes,b.extra_vtimes d_extra_vtimes, b.invitation_number
		d_invitation_number,b.customer_type d_customer_type
		from sys_user a left join sys_user_detail b on a.id = userid
		left join user_level c on b.level = c.sort
		<where>
			b.customer_type = 0 and a.create_time &gt; #{timeStart} and
			a.create_time &lt; #{timeEnd}
		</where>
		<![CDATA[ order by a.id desc ]]>
		<if test="pageSize != null and start != null ">
			limit #{start},#{pageSize}
		</if>
	</select>
	<select id="getOrdiUsersSize3" resultType="Integer">  
	    select count(1) from sys_user a left join sys_user_detail b on a.id =
		b.userid
		<where>
			b.customer_type = 0 and a.create_time &gt; #{timeStart} and
			a.create_time &lt; #{timeEnd}
		</where>
	</select>

	<select id="getSalesmen1" resultMap="userInfoMap">
		select a.*,c.name level,b.id d_id,b.userid d_userid,b.level d_level,b.today_vtimes
		d_today_vtimes,b.extra_vtimes d_extra_vtimes, b.invitation_number
		d_invitation_number,b.customer_type d_customer_type
		from sys_user a left join sys_user_detail b on a.id = userid
		left join user_level c on b.level = c.sort
		<where>
			b.customer_type = 1
		</where>
		<![CDATA[ order by a.id desc ]]>
		<if test="pageSize != null and start != null ">
			limit #{start},#{pageSize}
		</if>
	</select>
	<select id="getSalesmenSize1" resultType="Integer">  
	    select count(1) from sys_user a left join sys_user_detail b on a.id =
		b.userid
		<where>
			b.customer_type = 1
		</where>
	</select>

	<select id="getSalesmen2" resultMap="userInfoMap">
		select a.*,c.name level,b.id d_id,b.userid d_userid,b.level d_level,b.today_vtimes
		d_today_vtimes,b.extra_vtimes d_extra_vtimes, b.invitation_number
		d_invitation_number,b.customer_type d_customer_type
		from sys_user a left join sys_user_detail b on a.id = userid
		left join user_level c on b.level = c.sort
		<where>
			b.customer_type = 1 and a.create_time &gt; #{timeStart} and
			a.create_time &lt; #{timeEnd}
		</where>
		<![CDATA[ order by a.id desc ]]>
		<if test="pageSize != null and start != null ">
			limit #{start},#{pageSize}
		</if>
	</select>
	<select id="getSalesmenSize2" resultType="Integer">  
	    select count(1) from sys_user a left join sys_user_detail b on a.id =
		b.userid
		<where>
			b.customer_type = 1 and a.create_time &gt; #{timeStart} and
			a.create_time &lt; #{timeEnd}
		</where>
	</select>

	<select id="getSalesmen3" resultMap="userInfoMap">
		select a.*,c.name level,b.id d_id,b.userid d_userid,b.level d_level,b.today_vtimes
		d_today_vtimes,b.extra_vtimes d_extra_vtimes, b.invitation_number
		d_invitation_number,b.customer_type d_customer_type
		from sys_user a left join sys_user_detail b on a.id = userid
		left join user_level c on b.level = c.sort
		<where>
			b.customer_type = 1 and a.create_time &gt; #{timeStart} and
			a.create_time &lt; #{timeEnd}
		</where>
		<![CDATA[ order by a.id desc ]]>
		<if test="pageSize != null and start != null ">
			limit #{start},#{pageSize}
		</if>
	</select>
	<select id="getSalesmenSize3" resultType="Integer">  
	    select count(1) from sys_user a left join sys_user_detail b on a.id =
		b.userid
		<where>
			b.customer_type = 1 and a.create_time &gt; #{timeStart} and
			a.create_time &lt; #{timeEnd}
		</where>
	</select>

</mapper>