<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wh.weiguang.dao.UserLevelDao">
	<resultMap id="levelMap" type="com.wh.weiguang.model.me.UserLevelEntity">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="userid" property="userid" />
		<result column="condition" property="condition" />
		<result column="vtimes" property="vtimes" />
		<result column="sort" property="sort" />
		<result column="min" property="min" />
		<result column="max" property="max" />
	</resultMap>

	<select id="userLevelAll" resultMap="levelMap">
		select * from user_level 
	</select>

	<select id="levelList" resultMap="levelMap">
	<![CDATA[select * from user_level]]>
	    <![CDATA[ order by sort asc ]]>
		<if test="pageSize != null and start != null ">
			limit #{start},#{pageSize}
		</if>
	</select>
	
	<select id="levelSize" resultType="Integer">  
	    <![CDATA[select count(*) from user_level]]>
	</select>
	
	<insert id="insertLevel" parameterType="UserLevelEntity">
		insert into user_level
		(name,`condition`,vtimes,sort,min,max)
		values
		(#{name},#{condition},#{vtimes},#{sort},#{min},#{max})
	</insert>
	
	<update id="updateLevel" parameterType="UserLevelEntity">
		update user_level set
		name = #{name},
		`condition` = #{condition},
		vtimes = #{vtimes},
		sort = #{sort},
		min = #{min},
		max = #{max}
		<where>
			id = #{id}
		</where>
	</update>
	
	<delete id="deleteLevel">
		delete from user_level
		<where>
			<if test="groupId !=null">
				id in
				<foreach collection="groupId" item="item" index="index"
					open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
		</where>
	</delete>

</mapper>