<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wh.weiguang.dao.WeixinUserDao">
	<resultMap id="infoMap" type="com.wh.weiguang.model.sys.WeixinUserInfo">
		<id column="openid" property="openid" />
		<result column="nickname" property="nickname" />
		<result column="sex" property="sex" />
		<result column="province" property="province" />
		<result column="city" property="city" />
		<result column="country" property="country" />
		<result column="headimgurl" property="headimgurl" />
		<result column="unionid" property="unionid" />
		<result column="userid" property="userid" />
	</resultMap>

	<delete id="delete">
		delete from weixin_user
		<where>
			openid = #{openid}
		</where>
	</delete>

	<select id="getInfoByOpenid" resultMap="infoMap">
		select * from weixin_user
		<where>
			openid = #{openid}
		</where>
	</select>

	<insert id="insertInfo">
		<if test="weixinUserInfo != null">
			insert into weixin_user
			(openid,nickname,sex,province,city,country,headimgurl,unionid,userid)
			values
			(#{weixinUserInfo.openid},#{weixinUserInfo.nickname},#{weixinUserInfo.sex},#{weixinUserInfo.province},#{weixinUserInfo.city},#{weixinUserInfo.country},#{weixinUserInfo.headimgurl},#{weixinUserInfo.unionid},#{weixinUserInfo.userid})
		</if>
	</insert>

	<update id="updateUserid">
		update weixin_user set userid = ${userid}
		<where>
			openid = #{openid}
		</where>
	</update>
	
	<delete id="deleteByUserid">
		delete from weixin_user
		<where>
			<if test="groupId !=null">
				userid in
				<foreach collection="groupId" item="item" index="index"
					open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
		</where>
	</delete>

</mapper>